<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Seleccionar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar placeholder="Buscar producto" inputmode="text" type="text" (ionChange)="searchProducto($event)"
    [debounce]="250" showClearButton="focus" enterkeyhint="Buscar" class="searchBar"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let result of listadoProductos()" (click)="select(result)">
      <ion-label>
        Código: {{ result.codigo }}<br>
        Nombre: {{ result.nombre }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
