<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if (venta) {
      <div class="space-y-2 lg:flex lg:space-y-0 lg:space-x-4">
        <div class="lg:w-1/2">
          <p><span class="font-bold">Venta N°: </span>{{venta.comprobante}}</p>
          <p><span class="font-bold">Cliente: </span>{{venta.cliente?.apellido + ", " + venta.cliente?.nombre}}</p>
          <p><span class="font-bold">Fecha: </span>{{venta.fecha | date}}</p>
          <p><span class="font-bold">Subtotal: </span>{{venta.subtotal | currency : 'ARS'}}</p>
          <p><span class="font-bold">Descuento: </span>{{venta.descuento | currency : 'ARS'}}</p>
          <p><span class="font-bold">Total de Venta: </span>{{venta.total | currency : 'ARS'}}</p>
          <p><span class="font-bold">Condición: </span>{{venta.condicion}}</p>
          <p><span class="font-bold">Estado: </span>{{estadosVenta[venta.estado]}}</p>
        </div>
        <div class="lg:w-1/2 text-center" *ngIf="blobComprobante">
          <p><span class="font-bold">Imagen Comprobante:</span></p>
          <img [src]="blobComprobante" alt="Imagen Comprobante" (click)="showComprobante(blobComprobante)"
            class="max-h-96 mx-auto">
        </div>
      </div>
      <hr class="my-4">
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-gray-500 dark:text-gray-400 whitespace-nowrap">
          <thead
            class="text-xs whitespace-nowrap text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3">ID</th>
              <th scope="col" class="px-4 py-3">Código</th>
              <th scope="col" class="px-4 py-3">Nombre</th>
              <th scope="col" class="px-4 py-3">Cantidad</th>
              <th scope="col" class="px-4 py-3">Precio Unitario</th>
              <th scope="col" class="px-4 py-3">Subtotal</th>
              <th scope="col" class="px-4 py-3"></th>
            </tr>
          </thead>
          <tbody class="text-center">
            @for (detalle of venta.productos; track $index) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-4 py-3">{{detalle.producto.id}}</td>
              <td class="px-4 py-3">{{detalle.producto.codigo}}</td>
              <td class="px-4 py-3 text-left">{{detalle.producto.nombre}}</td>
              <td class="px-4 py-3">{{detalle.cantidad}}</td>
              <td class="px-4 py-3">{{detalle.precioUnitario | currency: 'ARS'}}</td>
              <td class="px-4 py-3">{{(detalle.cantidad * detalle.precioUnitario) | currency: 'ARS'}}</td>
              <td class="px-4 py-3"></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      @if (venta.condicion === 'CTA CTE' && venta.financiacion && venta.financiacion[0]) {
      <hr class="my-4">
      <div class="relative overflow-x-auto">
        <ion-card-title>
          Financiación asociada
          <a class="text-primary-600 hover:underline"
            routerLink="/dashboard/creditos/detalle/{{venta.financiacion[0].id}}">Detalles</a>
        </ion-card-title>
        <table class="w-full mt-4 text-sm text-gray-500 dark:text-gray-400 whitespace-nowrap">
          <thead class="text-xs text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3">ID</th>
              <th scope="col" class="px-4 py-3">Fecha Inicio</th>
              <th scope="col" class="px-4 py-3">Cant. cuotas</th>
              <th scope="col" class="px-4 py-3">Periodo</th>
              <th scope="col" class="px-4 py-3">Monto Cuota</th>
              <th scope="col" class="px-4 py-3">Fecha Últ. Pago</th>
              <th scope="col" class="px-4 py-3">Estado</th>
              <th scope="col" class="px-4 py-3"></th>
            </tr>
          </thead>
          <tbody class="text-center">
            @for (credito of venta.financiacion; track $index) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-4 py-3">{{credito.id}}</td>
              <td class="px-4 py-3">{{credito.fechaInicio | date}}</td>
              <td class="px-4 py-3">{{credito.cantidadCuotas}}</td>
              <td class="px-4 py-3">{{periodosCredito[credito.periodo]}}</td>
              <td class="px-4 py-3">{{credito.montoCuota | currency: 'ARS' }}</td>
              <td class="px-4 py-3">{{credito.fechaUltimoPago | date}}</td>
              <td class="px-4 py-3">{{estadosCredito[credito.estado]}}</td>
              <td class="p-2 space-x-2">
                <button
                  class="bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-lg p-2 inline-block lg:hidden"
                  (click)="viewCreditoDetails(credito)" title="Detalles">
                  <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
                </button>
                <button
                  class="bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-lg p-2 hidden lg:inline-block"
                  (click)="viewDesktopCreditoDetails(credito.id)" title="Detalles">
                  <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
                </button>
                <button
                  class="bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-lg p-2 inline-block"
                  (click)="cargarPagoACredito(credito)" title="Cargar Pago">
                  <fa-icon [icon]="['fas', 'file-invoice-dollar']"></fa-icon>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      }
      }
    </ion-card-content>
  </ion-card>
</ion-content>
