<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card class="max-w-xl mx-auto">
      <ion-card-header>
        <ion-card-title class="text-center"> Iniciar Sesión </ion-card-title>
      </ion-card-header>
      <ion-card-content class="loginFormContainer">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4">
          <div>
            <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI</label>
            <input type="number" formControlName="dni" id="dni" required
              class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div>
            <label for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input type="password" formControlName="password" id="password" required
              class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="flex items-center justify-between">
            <a (click)="showActionSheet()" class="text-sm text-blue-600 hover:underline dark:text-blue-500">¿Olvidaste
              tu contraseña?</a>
          </div>
          <!-- <button
            class="block w-full px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
            type="submit" (click)="login()">Ingresar</button> -->
          <input type="submit" value="Ingresar"
            class="block w-full px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
