.loginFormContainer ion-input.loginInput {
  margin-bottom: 0.5rem;
}

.loginFormContainer ion-button.loginButton {
  margin-top: 1rem;
}

.loginFormContainer ion-input.loginInput .input-wrapper {
  padding-inline-start: 1rem;
}
