<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado de Créditos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-loading [isOpen]="loadingSignal()" message="Cargando..." duration="3000"></ion-loading>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="relative overflow-hidden">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:pace-x-4 p-4">
      <div class="w-full md-w-1/2">
        <form class="flex items-center">
          <ion-searchbar inputmode="search" animated="true" autocomplete="false"
            showClearButton="focus"></ion-searchbar>
        </form>
      </div>
      <!-- <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
        <ion-button>
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Nuevo
        </ion-button>
      </div> -->
    </div>

    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-center whitespace-nowrap text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-4 py-3">ID</th>
            <th scope="col" class="px-4 py-3">Crédito n°</th>
            <th scope="col" class="px-4 py-3">Fecha Inicio</th>
            <th scope="col" class="px-4 py-3">Cant. cuotas</th>
            <th scope="col" class="px-4 py-3">Periodo</th>
            <th scope="col" class="px-4 py-3">Monto Cuota</th>
            <th scope="col" class="px-4 py-3">Fecha Últ. Pago</th>
            <th scope="col" class="px-4 py-3">Estado</th>
            <th scope="col" class="px-4 py-3"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          @for (credito of listadoCreditos(); track credito.id) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-4 py-3">{{credito.id}}</td>
            <td class="px-4 py-3">{{credito.venta?.comprobante}}</td>
            <td class="px-4 py-3">{{credito.fechaInicio | date}}</td>
            <td class="px-4 py-3">{{credito.cantidadCuotas}}</td>
            <td class="px-4 py-3">{{periodos[credito.periodo]}}</td>
            <td class="px-4 py-3">{{credito.montoCuota | currency}}</td>
            <td class="px-4 py-3">{{credito.fechaUltimoPago | date}}</td>
            <td class="px-4 py-3">{{estadosCreditos[credito.estado]}}</td>
            <td class="p-2">
              <button
                class="bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-lg p-2 lg:hidden"
                (click)="viewDetails(credito)">
                <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
              </button>
              <button
                class="bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-lg p-2 hidden lg:block"
                (click)="viewDesktopDetails(credito.id)">
                <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
