<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashboard/ventas" routerDirection="root">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button routerLink="/dashboard/ventas/listado" routerDirection="forward">
      <ion-icon name="list-outline"></ion-icon>
      Listado
    </ion-tab-button>
    <ion-tab-button routerLink="/dashboard/ventas/nueva" routerDirection="forward">
      <ion-icon name="add-outline"></ion-icon>
      Nueva Venta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
