<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashboard/clientes" routerDirection="root">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button routerLink="/dashboard/clientes/listado" routerDirection="forward">
      <ion-icon name="list-outline"></ion-icon>
      Listado
    </ion-tab-button>
    <ion-tab-button routerLink="/dashboard/clientes/nuevo" routerDirection="forward">
      <ion-icon name="person-add-outline"></ion-icon>
      Nuevo Cliente
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
