<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashboard/creditos" routerDirection="root">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button routerLink="/dashboard/creditos/listado" routerDirection="forward">
      <ion-icon name="list-outline"></ion-icon>
      Listado
    </ion-tab-button>
    <ion-tab-button routerLink="/dashboard/creditos/cargar-pago" routerDirection="forward">
      <ion-icon name="wallet-outline"></ion-icon>
      Cargar pago
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
