@if (isModal) {
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
}
<ion-content class="ion-padding">
  <form [formGroup]="passwordForm" class="max-w-xl mx-auto p-4 grid gap-4">
    @if (isSelfRestore) {
    <div class="">
      <label for="oldPassword" class="block mb-2 font-medium text-gray-900 dark:text-white">Contraseña Anterior<span
          class="ml-2 text-red-700">*</span></label>
      <input type="password" id="oldPassword" formControlName="oldPassword"
        class="bg-gray-100 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    }
    <div class="">
      <label for="password" class="block mb-2 font-medium text-gray-900 dark:text-white">Contraseña<span
          class="ml-2 text-red-700">*</span></label>
      <input type="password" id="password" formControlName="password"
        class="bg-gray-100 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="">
      <label for="confirmPassword" class="block mb-2 font-medium text-gray-900 dark:text-white">Confirmar
        Contraseña<span class="ml-2 text-red-700">*</span></label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword"
        class="bg-gray-100 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="flex items-center space-x-4">
      <button type="submit" [disabled]="!passwordForm.valid" (click)="savePassword()"
        class="lg:col-span-2 flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Guardar</button>
    </div>
  </form>
</ion-content>
