<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (credito) {
  <div class="space-y-2">
    <p><span class="font-bold">Crédito N°: </span>{{credito.venta.comprobante}}</p>
    <p><span class="font-bold">Cliente: </span>{{credito.venta.cliente?.apellido + ", " +
      credito.venta.cliente?.nombre}}</p>
    <p><span class="font-bold">Fecha Inicio: </span>{{credito.fechaInicio | date}}</p>
    <p><span class="font-bold">Cant. de cuotas: </span>{{credito.cantidadCuotas}}</p>
    <p><span class="font-bold">Período: </span>{{periodos[credito.periodo]}}</p>
    <p><span class="font-bold">Monto cuota: </span>{{credito.montoCuota | currency: 'ARS'}}</p>
    <p><span class="font-bold">Fecha Últ. Pago: </span>{{credito.fechaUltimoPago | date}}</p>
    <p><span class="font-bold">Estado: </span>{{estadosCreditos[credito.estado]}}</p>
  </div>
  <hr class="my-4">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-gray-500 dark:text-gray-400 whitespace-nowrap">
      <thead
        class="text-xs whitespace-nowrap text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="px-4 py-3">Cuota N°</th>
          <th class="px-4 py-3">Fecha Venc.</th>
          <th class="px-4 py-3">Monto</th>
          <th class="px-4 py-3">Estado</th>
          <th class="px-4 py-3">Monto Pagado</th>
          <th class="px-4 py-3">Fecha Pago</th>
          <th class="px-4 py-3"></th>
          <th class="px-4 py-3 whitespace-nowrap"></th>
        </tr>
      </thead>
      <tbody class="text-center">
        @for (cuota of credito.cuotas; track cuota.id) {
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-4 py-3">{{cuota.cuotaNro}}</td>
          <td class="px-4 py-3">{{cuota.fechaVencimiento | date}}</td>
          <td class="px-4 py-3">{{cuota.montoCuota | currency: 'ARS'}}</td>
          <td class="px-4 py-3">{{estadosCuota[cuota.estado]}}</td>
          <td class="px-4 py-3">{{cuota.montoPagado | currency: 'ARS'}}</td>
          <td class="px-4 py-3">{{cuota.fechaPago | date}}</td>
          <td class="px-4 py-3"></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</ion-content>
