<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="planilla-mensual">
      <ion-icon name="list-outline"></ion-icon>
      Planilla Mensual
    </ion-tab-button>
    <ion-tab-button tab="planilla-semanal">
      <ion-icon name="list-outline"></ion-icon>
      Planilla Semanal
    </ion-tab-button>
    <!-- <ion-tab-button tab="cargar-pago">
      <ion-icon name="wallet-outline"></ion-icon>
      Cargar pago
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
